<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--使用外部bean-->
    <bean id="user" class="com.mx.entity.User">
        <!--先初始化第一个bean user中的属性-->
        <property name="name" value="MX"/>
        <property name="dept" ref="dept"/>
        <!--将bean dept赋值给user中的dept，成为使用外部bean，同时赋值使用的是ref而不是value，ref表示引用-->
    </bean>

    <bean id="dept" class="com.mx.entity.Dept">
        <!--初始第二个bean dept-->
        <property name="dept" value="保安部"/>
    </bean>
</beans>